html, body {
  margin: 0;
  padding: 0;
  background: #40434e;
  font-family: "Montserrat", sans-serif;
  color: white;
  height: 200%; }
  html a, body a {
    color: white;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent; }
  html a.btn.main, body a.btn.main {
    display: inline-block;
    line-height: 1;
    padding: 15px 30px;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    width: auto;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    /*
		&:hover {
			background: white;
			color: $color-dark_gray;
		}
*/ }
    html a.btn.main.on, body a.btn.main.on {
      animation-name: btn_animation;
      animation-duration: .5s;
      transition: all 0.25s linear; }
  html .logo_af, body .logo_af {
    display: block;
    width: 60px;
    height: 60px; }
    html .logo_af:after, body .logo_af:after {
      content: "";
      display: block;
      position: relative;
      margin: 13px auto 0px auto;
      width: 30px;
      height: 30px;
      background: white;
      content: "";
      clip-path: polygon(16% 100%, 16% 100%, 16% 100%, 16% 100%, 16% 100%, 16% 100%, 16% 100%, 0 100%, 0% 100%, 0% 100%);
      -webkit-clip-path: polygon(16% 100%, 16% 100%, 16% 100%, 16% 100%, 16% 100%, 16% 100%, 16% 100%, 0 100%, 0% 100%, 0% 100%); }
  html .logo_circle, body .logo_circle {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    border: 4px solid white;
    border-radius: 60px; }
  html #bg_main, body #bg_main {
    opacity: 1;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url("../img/bg_main.jpg");
    background-size: cover;
    background-position-x: center;
    z-index: 0;
    pointer-events: none;
    display: block; }

header {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  margin-top: 15px;
  z-index: 2; }
  header .wrapper:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    margin: auto;
    padding: 0px 38px;
    transition: all 0.25s linear; }
    header .wrapper:first-of-type .logo_af {
      left: calc(50% - 30px);
      position: absolute;
      z-index: 3;
      cursor: pointer;
      pointer-events: all;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-tap-highlight-color: transparent; }
      header .wrapper:first-of-type .logo_af:after {
        animation-name: logo;
        animation-duration: .75s;
        animation-fill-mode: forwards;
        z-index: 2; }
      header .wrapper:first-of-type .logo_af.hidden {
        pointer-events: none; }
        header .wrapper:first-of-type .logo_af.hidden:after {
          transition: background 0.25s linear;
          background: rgba(255, 255, 255, 0); }
    header .wrapper:first-of-type nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: 100%;
      z-index: 1; }
      header .wrapper:first-of-type nav ul {
        position: absolute;
        margin: 0;
        padding: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        list-style: none;
        white-space: nowrap; }
        header .wrapper:first-of-type nav ul li {
          display: inline-block;
          margin-left: 38px;
          font-size: 0.9375em;
          font-weight: 200; }
          header .wrapper:first-of-type nav ul li a {
            display: block;
            width: 22px;
            height: 22px;
            position: relative;
            text-decoration: none;
            overflow: hidden;
            text-indent: 100%;
            position: relative; }
            header .wrapper:first-of-type nav ul li a:before {
              font-family: 'simple-line-icons';
              font-size: 20px;
              position: absolute;
              left: -22px;
              top: 0; }
          header .wrapper:first-of-type nav ul li:nth-child(1) {
            margin-left: 0; }
            header .wrapper:first-of-type nav ul li:nth-child(1) a:before {
              content: '\e60a'; }
          header .wrapper:first-of-type nav ul li:nth-child(2) a:before {
            content: '\e00d'; }
          header .wrapper:first-of-type nav ul li:nth-child(3) a:before {
            content: '\e04a'; }
        header .wrapper:first-of-type nav ul.on {
          opacity: 1;
          transition: all 0.25s linear;
          pointer-events: all; }
      header .wrapper:first-of-type nav a.btn_menu {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        text-indent: 100%;
        overflow: hidden; }
        header .wrapper:first-of-type nav a.btn_menu div {
          display: block;
          position: absolute;
          width: 8px;
          height: 8px;
          border: 1px solid white;
          border-radius: 7px; }
          header .wrapper:first-of-type nav a.btn_menu div.center {
            top: 15px;
            left: 15px;
            transition: all 0.25s linear; }
          header .wrapper:first-of-type nav a.btn_menu div.left {
            top: 15px;
            left: 0px;
            transition: left 0.25s linear; }
          header .wrapper:first-of-type nav a.btn_menu div.right {
            top: 15px;
            right: 0px;
            transition: right 0.25s linear; }
        header .wrapper:first-of-type nav a.btn_menu:before, header .wrapper:first-of-type nav a.btn_menu:after {
          display: block;
          position: absolute;
          width: 2px;
          height: 10px;
          top: 15px;
          z-index: 2;
          background: #40434e;
          border-radius: 2px;
          opacity: 0;
          content: "";
          transition: all 0.25s linear; }
        header .wrapper:first-of-type nav a.btn_menu:before {
          right: 19px;
          transform: rotate(45deg); }
        header .wrapper:first-of-type nav a.btn_menu:after {
          left: 19px;
          transform: rotate(-45deg); }
        header .wrapper:first-of-type nav a.btn_menu.on div.center {
          width: 20px;
          height: 20px;
          top: 9px;
          left: 9px;
          background: white;
          border-radius: 20px; }
        header .wrapper:first-of-type nav a.btn_menu.on div.left {
          top: 15px;
          left: 15px;
          border: 1px solid rgba(255, 255, 255, 0);
          transition: all 0.25s linear; }
        header .wrapper:first-of-type nav a.btn_menu.on div.right {
          top: 15px;
          right: 15px;
          border: 1px solid rgba(255, 255, 255, 0);
          transition: all 0.25s linear; }
        header .wrapper:first-of-type nav a.btn_menu.on:before {
          opacity: 1;
          transition: all 0.25s linear; }
        header .wrapper:first-of-type nav a.btn_menu.on:after {
          opacity: 1;
          transition: all 0.25s linear; }
  header .wrapper:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: -60px auto 0px auto;
    padding: 0px; }
    header .wrapper:last-of-type .logo_circle {
      cursor: pointer;
      transition: all 0.25s linear;
      animation-name: circle;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      opacity: 1; }
      header .wrapper:last-of-type .logo_circle.hidden {
        border: 4px solid rgba(255, 255, 255, 0);
        transition: all 0.25s linear; }
  header.on {
    position: fixed;
    margin-top: 0px; }
    header.on .wrapper:nth-child(2) {
      width: 100%;
      max-width: 100%;
      padding: 0px;
      transition: all 0.25s linear; }
      header.on .wrapper:nth-child(2) .logo_circle {
        width: 100%;
        left: 0;
        right: 0;
        background: rgba(37, 39, 36, 0.95);
        border: 5px solid rgba(37, 39, 36, 0);
        border-radius: 0;
        transition: all 0.25s linear;
        opacity: 1; }
  @media (min-width: 1024px) {
    header {
      margin-top: 60px; }
      header .wrapper:first-of-type {
        position: relative;
        max-width: 1140px; }
        header .wrapper:first-of-type .logo_af {
          left: 38px; }
          header .wrapper:first-of-type .logo_af.hidden {
            pointer-events: all; }
            header .wrapper:first-of-type .logo_af.hidden:after {
              background: white;
              transition: none; }
        header .wrapper:first-of-type nav ul {
          opacity: 1;
          left: auto;
          right: 0; }
          header .wrapper:first-of-type nav ul li a {
            width: auto;
            text-indent: 0;
            overflow: visible;
            pointer-events: all; }
            header .wrapper:first-of-type nav ul li a:before {
              left: -30px; }
          header .wrapper:first-of-type nav ul li:nth-child(1) a:before, header .wrapper:first-of-type nav ul li:nth-child(2) a:before {
            display: none; }
          header .wrapper:first-of-type nav ul li:nth-child(3) {
            margin-left: 68px; }
        header .wrapper:first-of-type nav a.btn_menu {
          display: none; }
      header .wrapper:nth-child(2) {
        justify-content: flex-start;
        position: relative;
        max-width: 1140px;
        padding: 0px 38px; }
        header .wrapper:nth-child(2) .logo_circle.hidden {
          border: 4px solid white;
          transition: none; }
      header.on .wrapper:nth-child(2) .logo_circle {
        width: 100%;
        left: 0;
        right: 0;
        background: rgba(37, 39, 36, 0.95);
        border: 5px solid rgba(37, 39, 36, 0);
        border-radius: 0;
        transition: all 0.25s linear;
        opacity: 1; } }

@keyframes logo {
  0% {
    clip-path: polygon(16% 94%, 16% 94%, 16% 94%, 16% 94%, 16% 94%, 16% 94%, 16% 94%, 0 94%, 0% 94%, 0% 94%);
    -webkit-clip-path: polygon(16% 94%, 16% 94%, 16% 94%, 16% 94%, 16% 94%, 16% 94%, 16% 94%, 0 94%, 0% 94%, 0% 94%);
    opacity: 0; }
  50% {
    clip-path: polygon(50% 33%, 50% 33%, 40% 51%, 40% 51%, 32% 65%, 32% 65%, 16% 94%, 0 94%, 50% 6%, 50% 6%);
    -webkit-clip-path: polygon(50% 33%, 50% 33%, 40% 51%, 40% 51%, 32% 65%, 32% 65%, 16% 94%, 0 94%, 50% 6%, 50% 6%);
    opacity: .5; }
  100% {
    clip-path: polygon(84% 94%, 50% 33%, 40% 51%, 65% 94%, 49% 94%, 32% 65%, 16% 94%, 0 94%, 50% 6%, 100% 94%);
    -webkit-clip-path: polygon(84% 94%, 50% 33%, 40% 51%, 65% 94%, 49% 94%, 32% 65%, 16% 94%, 0 94%, 50% 6%, 100% 94%);
    opacity: 1; } }

@keyframes circle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
